@model IEnumerable<WebBanHangOnline.Models.ShoppingCartItem>
@using WebBanHangOnline.Common


@if (Model != null && Model.Any())
{
    <h3>Đơn hàng <span style="float:right;position:relative"></span></h3>
    var tongtien = decimal.Zero;
    <div style="border:1px solid #c7c7c7;">
        <table class="table">
            @foreach (var item in Model)
            {
                tongtien += item.TotalPrice;
                <tr>
                    <td><img src="@item.ProductImg" width="60" /></td>
                    <td>@item.ProductName-@item.Size- @item.Quantity</td>
                    <td>@Common.FormatNumber(item.Price, 0) VNĐ</td>
                </tr>
            }
            <tr>
                <td colspan="2">Tạm tính</td>
                <td id="subtotalPrice" data-value="@tongtien">@Common.FormatNumber(tongtien, 0) VNĐ</td>
            </tr>
            <tr>
                <td colspan="2">Tiền ship</td>
                <td id="shippingPrice" data-value="@ViewBag.MoneyShip">@Common.FormatNumber(ViewBag.MoneyShip, 0) VNĐ</td>
            </tr>
            
            <tr>
                <td colspan="2">Tiền giảm</td>
                <td id="discountAmount">0 VNĐ</td>
            </tr>
            <tr>
                <td colspan="2">Tổng cộng</td>
                <td id="totalPrice" data-original-price="@(tongtien + (decimal)ViewBag.MoneyShip)">
                    @Common.FormatNumber(tongtien + (decimal)ViewBag.MoneyShip, 0) VNĐ
                </td>
            </tr>
        </table>
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            var subtotal = parseFloat($('#subtotalPrice').data('value')) || 0;
            var shipping = parseFloat($('#shippingPrice').data('value')) || 0;

            function formatCurrency(num) {
                return num.toLocaleString('vi-VN') + ' VNĐ';
            }

            $('#PromotionCode').on('change', function () {
                var discountPercent = parseFloat($(this).find('option:selected').data('discount')) || 0;
                var discountAmount = (discountPercent / 100) * subtotal;
                var total = subtotal + shipping - discountAmount;

                $('#discountAmount').text(formatCurrency(discountAmount));

                $('#totalPrice').text(formatCurrency(total));
            });
        });
        </script>
}